<div id="header">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal text-light">Zillow</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-light" href="#">Buy</a>
        <a class="p-2 text-light" href="#">Rent</a>
        <a class="p-2 text-light" href="#">Sell</a>
        <a class="p-2 text-light" href="#">About Us</a>
      </nav>
      <a class="btn btn-outline-danger" href="#">Sign up</a>
    </div>
  </div>
</div>

<div id="content-section">
  <div class="container">
    <div class="row">
      <div class="filter-section col-md-3">
        <h5>Filter</h5>
        
        <div class="input-group mb-3">
          <select class="custom-select">
            <option selected>Location</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <select class="custom-select">
            <option selected>Type of house</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <select class="custom-select">
            <option selected>Number of Bedrooms</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Min. Price</label>
            <input type="text" class="form-control" placeholder="1300">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Max. Price</label>
            <input type="text" class="form-control" placeholder="3500">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputEmail4">Floor space (m<sup>2</sup>)</label>
            <input type="text" class="form-control" placeholder="150">
          </div>
        </div>

        <div class="pt-10">Facilities</div>
        <div class="form-row border-bottom">
          <div class="form-group col-md-12 pt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Elevator
              </label>
            </div>
          </div>
        </div>

        <div class="form-row border-bottom">
          <div class="form-group col-md-12 pt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Storage
              </label>
            </div>
          </div>
        </div>

        <div class="form-row border-bottom">
          <div class="form-group col-md-12 pt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Bath tub
              </label>
            </div>
          </div>
        </div>

        <div class="form-row border-bottom">
          <div class="form-group col-md-12 pt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Separate shower
              </label>
            </div>
          </div>
        </div>

        <div class="form-row border-bottom">
          <div class="form-group col-md-12 pt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Fireplace
              </label>
            </div>
          </div>
        </div>

        <div class="form-row border-bottom">
          <div class="form-group col-md-12 pt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Swimming pool
              </label>
            </div>
          </div>
        </div>
        
      </div>

      <div class="results-section col-md-9">
        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <input type="text" class="form-control" placeholder="Length of your stay? long or short" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
          </div>

          <div class="input-group mb-3 col-md-6">
            <select class="custom-select" id="inputGroupSelect02">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect02">Location</label>
            </div>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col font-weight-light text-muted text-small">3920 results found</div>
          <div class="col">
            <div class="input-group">
              <select class="custom-select" id="inputGroupSelect04">
                <option selected>Price Ascending/Descending</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><fa-icon [icon]="faList"></fa-icon></button>
                <button class="btn btn-outline-secondary" type="button"><fa-icon [icon]="faTh"></fa-icon></button>
              </div>
            </div>
          </div>
        </div>

        <div class="row pt-5">
          <div class="col-md-4">
            <div class="listing-box">
              <div class="listing-img" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRlXigELpO-ICg7fs_ba9OAw7Gfwi21SFyKMZNYzYsnCDfubzyh&usqp=CAU'); background-size: cover;
              background-position: center;
              height: 200px;">
                <div class="listing-title">
                  Rockcliffe Park Residential
                </div>
              </div>
              <div class="listing-price text-muted">$709 / month (ex.)</div>
              <div class="listing-location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> <span class="city">Ottawa</span></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="listing-box">
              <div class="listing-img" style="background: url('https://photos.zolo.ca/934-wildcarrot-crescent-ottawa-1190723-1.jpg?2020-04-27+16%3A28%3A01'); background-size: cover;
              background-position: center;
              height: 200px;">
                <div class="listing-title">
                  Bridlewood Residence
                </div>
              </div>
              <div class="listing-price text-muted">$823 / month (ex.)</div>
              <div class="listing-location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> <span class="city">Ottawa</span></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="listing-box">
              <div class="listing-img" style="background: url('https://ottawaurbanrealty.com/wp-content/uploads/2019/04/172Powell-4-864x576.jpg'); background-size: cover;
              background-position: center;
              height: 200px;">
                <div class="listing-title">
                  172 Powell - The Glebe
                </div>
              </div>
              <div class="listing-price text-muted">$900 / month (ex.)</div>
              <div class="listing-location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> <span class="city">Ottawa</span></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="listing-box">
              <div class="listing-img" style="background: url('https://i.cbc.ca/1.4628931.1524742083!/fileImage/httpImage/image.JPG_gen/derivatives/16x9_780/270-breezehill-avenue-ottawa-real-estate-apr-20-2018.JPG'); background-size: cover;
              background-position: center;
              height: 200px;">
                <div class="listing-title">
                  270 Breezehill Avenue South
                </div>
              </div>
              <div class="listing-price text-muted">$1,200 / month (ex.)</div>
              <div class="listing-location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> <span class="city">Ottawa</span></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="listing-box">
              <div class="listing-img" style="background: url('https://crm.agentlocator.ca/imagegallery/2015-7/Picture29.jpg'); background-size: cover;
              background-position: center;
              height: 200px;">
                <div class="listing-title">
                  179 Patterson Avenue
                </div>
              </div>
              <div class="listing-price text-muted">$1,300 / month (ex.)</div>
              <div class="listing-location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> <span class="city">Ottawa</span></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="listing-box">
              <div class="listing-img" style="background: url('https://crm.agentlocator.ca/imagegallery/2015-7/Picture5.jpg'); background-size: cover;
              background-position: center;
              height: 200px;">
                <div class="listing-title">
                  6 Bertmount Avenue
                </div>
              </div>
              <div class="listing-price text-muted">$1,400 / month (ex.)</div>
              <div class="listing-location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> <span class="city">Ottawa</span></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="listing-box">
              <div class="listing-img" style="background: url('https://ddfcdn.realtor.ca/listings/TS637230930392730000/reb76/highres/1/1189161_1.jpg'); background-size: cover;
              background-position: center;
              height: 200px;">
                <div class="listing-title">
                  Britannia Village Real Estate
                </div>
              </div>
              <div class="listing-price text-muted">$1,500 / month (ex.)</div>
              <div class="listing-location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> <span class="city">Ottawa</span></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="listing-box">
              <div class="listing-img" style="background: url('https://christinehauschild.com/wp-content/uploads/2020/04/1-4-680x510.jpg'); background-size: cover;
              background-position: center;
              height: 200px;">
                <div class="listing-title">
                  3597 Diamondview Road
                </div>
              </div>
              <div class="listing-price text-muted">$1,550 / month (ex.)</div>
              <div class="listing-location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> <span class="city">Ottawa</span></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="listing-box">
              <div class="listing-img" style="background: url('https://photos.zillowstatic.com/p_e/ISf4kmekpbbrf41000000000.jpg'); background-size: cover;
              background-position: center;
              height: 200px;">
                <div class="listing-title">
                  Stittsville Residences
                </div>
              </div>
              <div class="listing-price text-muted">$1,600 / month (ex.)</div>
              <div class="listing-location"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> <span class="city">Ottawa</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2017-2020</small>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-light">Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-light">Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-light">About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
  
</footer>



<router-outlet></router-outlet>